<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>


<h3>Hello {{user.name}} !!</h3>


<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for  names.." title="Type in a name" style="width: 800px; border-radius: 10px; border-color:blue;">
<br>
<br>

<table class="table table-bordered" id="myTable" style="margin-left: -120px ;">
  <thead class="table-success">
    <tr>
      
      <th scope="col">unit</th>
      <th scope="col">subdivision</th>
      <th scope="col">circle</th>
       <th scope="col">mandal</th>
        <th scope="col">ps/seb</th>
         <th scope="col">village</th>
          <th scope="col">section of law</th>
           <th scope="col">District</th>
            <th scope="col">Accused name</th>
             <th scope="col">Quantity of id arrack</th>
                   <th scope="col">destroyed</th>
      <th scope="col">Jaggary seized</th>
      <th scope="col">details in brief</th>

    </tr>
  </thead>
  <tbody>
    {{#each complaints}}
        <tr>
                    
            <td>{{unit}}</td>
            <td>{{subdivision}}</td>
            <td>{{circle}}</td>
             <td>{{mandal}}</td>
            <td>{{village}}</td>
            <td>{{villagee}}</td>
            <td>{{law}}</td>
             <td>{{mandall}}</td>
              <td>{{accname}}</td>
               <td>{{seized}}</td>
                <td>{{quantity}}</td>
                 <td>{{kgs}}</td>
                  <td>{{details}}</td>
        </tr>
    {{/each}}
    
  </tbody>
</table>
<button onclick="exportData()" style="border-color: blue; background-color:black; height: 50px; padding: 10px; border-radius: 10px;">
            <span class="fa fa-download" style="color: white;"></span>
            <a style="color: white;">Download list</a></button>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>



<script>
  function exportData(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("myTable");
 
    /* Declaring array variable */
    var rows =[];
 
      //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column6 = row.cells[5].innerText;
        column7 = row.cells[6].innerText;
        column8 = row.cells[7].innerText;
        column9 = row.cells[8].innerText;
        column10 = row.cells[9].innerText;
        column11 = row.cells[10].innerText;
        column12 = row.cells[11].innerText;
        column13 = row.cells[12].innerText;
       
        
 
    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5,
                column6,
                column7,
                column8,
                column9,
                column10,
                column11,
                column12,
                column13
            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "DSR_ID_ARRACK.csv");
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
}
</script>


